{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}

<style>
    #header{
        background-color: rgb(109, 204,170);
        color: white;
    }

    .section{
        background-color: rgb(109, 204,170); 
    }

    .module caption{
        background-color: rgb(109, 204,170);
    }

   
    #branding h1 a:visited{
        color: white;
    }

    .breadcrumbs{
        background: rgb(109, 204,170) !important;
        opacity: 0.8;
    }

    #branding h1 a:link{
        color: white;
    }
    
    .a:link{
        color: white !important;
    }

    
    .field-__str__ a{
        color: rgb(109, 204,170) !important;
    }

    .selector-chosen h2{
        background-color: rgb(109, 204,170) !important;        
    }

    .submit-row a.deletelink {
        background-color: rgb(109, 204,170) !important;   
    }

    
    .submit-row input{
        background-color: rgb(109, 204,170) !important;   
    }

    .delete-confirmation form input[type="submit"]{
        background-color: rgb(109, 204,170) !important;
    }

    .delete-confirmation form .cancel-link{
        background-color: rgb(109, 204,170) !important;
    }

    .cancel-link{
        color: white !important;
    }

    .object-tools a:link{
        background-color: rgb(109, 204,170) !important;
    } 
    
    .module h2{
        background-color: rgb(109, 204,170) !important;
    }

    .errornote{
        color: rgb(109, 204,170) !important;
        border: 1px solid rgb(109, 204,170) !important;
    }

    ul.errorlist {
        color: rgb(109, 204,170) !important;
    }

    .errors input{
        border: 1px solid rgb(109, 204,170) !important;
    }
   
    .errors select{
        border: 1px solid rgb(109, 204,170) !important;
    }

    .module h2{
        color: white !important;
    }
    
    
</style>

{% endblock extrastyle %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}