{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="contenido">
    <br>
    <br>
    <div>
            <h1 class="Rescate">RESCATE</h1>
            <br>
            <h1 class="EtapaUno">ETAPA UNO</h1>
            <br>
            <br>
            <br>
            <h1 class="texto">Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y</h1>
            <h1 class="texto2">preparamos para buscarles un hogar.</h1>
            <img class="imgRescate" src="{%static 'core/img/rescate.jpg' %}" alt="Rescate"></li>
            <img class="imgComida" src="{%static 'core/img/crowfunding.jpg' %}" alt="Comida">
            <h1 class="Crowdfunding">CROWDFUNDING</h1>
            <br>
            <h1 class="Financiamiento">FINANCIAMIENTO</h1>
            <br>
            <br>
            <h1 class="texto3">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y</h1>
            <h1 class="texto4">actividades que realizamos para obtener financiamiento para seguir ayudando.</h1>
            <br>
            <button id="btn">CAMPAÑAS</button>
            <br>
            <br>
            <br>
    </div>

</div>




{% endblock contenido %}